/* Style notes
    main red style colour is:     #dc2222
    main yellow style colour is:  #ffe900
*/

header {
    background-color: #dc2222;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
}

footer {
    background-color: #dc2222;
    padding-top: 1rem;
    color: lightgray;
    width: 100%;
}

#main {
    position: fixed;
    top: 85px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.canvas {
    padding: 0;
    margin: auto;
    max-width: 1200px;
}

#logo {
    margin-top: -10px;
}

/* Dropdown menu styles */

.navbar {
    margin-top: 12px;
    min-width: 600px;
}

body nav *, body nav a:hover, body nav a:active  {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px !important;
    color: #fff;
}

body nav a:hover, body nav a:active  {
    background-color: #ffe900;
    color: #dc2222;
}

a.navbar-brand:hover, a.navbar-brand:active {
    background-color: transparent !important; 
}

.sub-menu, .sub-menu li a {
    color: #fff;
    text-decoration: none;
    background-color: #dc2222;
    padding: 8px;
    margin: 0;
    border: none;
    white-space: nowrap;
    box-shadow: 2px 2px 1px #888888;
}

.sub-menu li a:active, .sub-menu li a:hover {
    /* color: #F44336; changed to match the red of the menu */
    color: #dc2222;
    text-decoration: none;
    background-color: #ffe900;
}

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
  padding: 0;
}

/* Homepage video embedded styles */

.videoContainer 
{
    position:absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
}

#volume {
    cursor: pointer;
    color: #fff;
    font-size: 3.5vw;
    position: fixed;
    top: 60%;
    left: 100%;
    margin-top: 2.5vw;
    margin-left: -30vw;
}


#homeText {
    color: white;
    font-size: 3vw;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 5vw;
    margin-top: 2.5vw;
    margin-left: -30vw;
    transition: 0.5s;
}

#homeText:hover {
  padding-right: 25px;
}

#homeText:hover:after {
    content: '  \00bb';
    transition: 0.5s;
  }


/* Mailchimp form styles */

#mc_embed_signup {
    min-width:420px;
    position: relative;
    right: 0;
}

/* Page navigation and slide show styles */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #dc2222 !important;
    padding: 2px;
}

.carousel.item {
    width: 100%;
    height: auto;
}

.card  {
    border: none;
}

.card-header  {
    background-color: #dc2222;
    border-radius: 30px !important;
    box-shadow: 2px 2px 1px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-header h5 a, .card-header a h5 {
    text-decoration: none;
    color: #ffffff;
}

.card-body {
    background-color: #ffe900 !important;
    padding: 10px !important;
    border-radius: 30px !important;
}

.card-block {
    background-color: #ffe900;
    padding: 10px;
    border-radius: 30px !important;
}

.card-link {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}